.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.hero {
  background-image: url("./asset/laptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-foot {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
  .hero {
    background-position: center;
  }

  .hero-head {
    margin-bottom: 50px;
  }

  .right {
    display: flex;
    justify-content: flex-start;
  }
}
