.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.hero {
  background-image: url("./asset/laptop.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
}

.hero-body {
  padding-top: 10rem;
}

.hero-foot {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.tile.is-child.card {
  display: flex;
  flex-direction: column;
}

.card-footer {
  margin-top: auto;
}

@media only screen and (max-width: 800px) {
  .hero {
    background-size: cover;
  }

  .right {
    display: flex;
    justify-content: flex-start;
  }

  .card-content {
    padding-top: 10px;
  }

  .card-footer-item {
    padding: 5px;
  }
}
